<!DOCTYPE html>
<html>
<head>
    <title>Texas Timeline</title>
    <link title="timeline-styles" rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/timeline.js"></script>
</head>
</html>