<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Texas Timeline</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <img width="150" height="150" src="https://img.icons8.com/stickers/100/texas-flag.png" alt="texas-flag"/>
    <h1>Explore Texas History</h1>
    
  </header>
  <nav>
    {{#if loggedIn}} 
    <button id="logout" class="btn-no-style ">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>"You may all go to hell, and I will go to Texas" --Davy Crockett</h2>
    </aside>
    <section class="timeline-card">
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1D0m893M2wtgmfm8nNHBSESY4TxrtO7VvW-DHs345wSA&font=Bitter-Raleway&lang=en&timenav_position=top&initial_zoom=2&height=650' width='500%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
</section>
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="/js/login.js"></script>
  {{/if}}
  {{footer}}
</body>

</html>